
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h2>render worked well</h2>

    {% for post in posts %}
        <h1>{{post.title}}</h1>
        <div> {{post.text}}</div>
        <h3>{{post.created_date}}</h3>
    {% endfor %}

</body>
</html>